In [1]:
import requests
import pandas as pd

# raw data from: https://string-db.org/cgi/download?sessionId=b6owhyZw1jXy&species_text=Mus+musculus
mouse_ppi = pd.read_csv("mouse_10090.protein.links.v12.0.txt", sep=" ")
mouse_ppi

                          protein1                  protein2  combined_score
0         10090.ENSMUSP00000000001  10090.ENSMUSP00000027991             889
1         10090.ENSMUSP00000000001  10090.ENSMUSP00000137332             163
2         10090.ENSMUSP00000000001  10090.ENSMUSP00000041756             201
3         10090.ENSMUSP00000000001  10090.ENSMUSP00000075170             969
4         10090.ENSMUSP00000000001  10090.ENSMUSP00000110978             267
...                            ...                       ...             ...
12684349  10090.ENSMUSP00000159257  10090.ENSMUSP00000047904             197
12684350  10090.ENSMUSP00000159257  10090.ENSMUSP00000062110             367
12684351  10090.ENSMUSP00000159257  10090.ENSMUSP00000099018             169
12684352  10090.ENSMUSP00000159257  10090.ENSMUSP00000023468             252
12684353  10090.ENSMUSP00000159257  10090.ENSMUSP00000045229             196

[12684354 rows x 3 columns]

In [2]:
mouse_ppi

                          protein1                  protein2  combined_score
0         10090.ENSMUSP00000000001  10090.ENSMUSP00000027991             889
1         10090.ENSMUSP00000000001  10090.ENSMUSP00000137332             163
2         10090.ENSMUSP00000000001  10090.ENSMUSP00000041756             201
3         10090.ENSMUSP00000000001  10090.ENSMUSP00000075170             969
4         10090.ENSMUSP00000000001  10090.ENSMUSP00000110978             267
...                            ...                       ...             ...
12684349  10090.ENSMUSP00000159257  10090.ENSMUSP00000047904             197
12684350  10090.ENSMUSP00000159257  10090.ENSMUSP00000062110             367
12684351  10090.ENSMUSP00000159257  10090.ENSMUSP00000099018             169
12684352  10090.ENSMUSP00000159257  10090.ENSMUSP00000023468             252
12684353  10090.ENSMUSP00000159257  10090.ENSMUSP00000045229             196

[12684354 rows x 3 columns]

In [3]:
import numpy as np
ppi_scores = mouse_ppi["combined_score"]
np.min(ppi_scores), np.max(ppi_scores)

(150, 999)

In [4]:
significant_mouse_ppi = mouse_ppi[mouse_ppi["combined_score"] >= 700]
significant_mouse_ppi

                          protein1                  protein2  combined_score
0         10090.ENSMUSP00000000001  10090.ENSMUSP00000027991             889
3         10090.ENSMUSP00000000001  10090.ENSMUSP00000075170             969
7         10090.ENSMUSP00000000001  10090.ENSMUSP00000121127             916
8         10090.ENSMUSP00000000001  10090.ENSMUSP00000081569             956
13        10090.ENSMUSP00000000001  10090.ENSMUSP00000025541             760
...                            ...                       ...             ...
12683968  10090.ENSMUSP00000159241  10090.ENSMUSP00000080242             899
12684079  10090.ENSMUSP00000159241  10090.ENSMUSP00000124205             748
12684116  10090.ENSMUSP00000159241  10090.ENSMUSP00000038137             959
12684164  10090.ENSMUSP00000159241  10090.ENSMUSP00000065819             961
12684201  10090.ENSMUSP00000159241  10090.ENSMUSP00000061800             810

[403720 rows x 3 columns]

In [5]:
significant_mouse_ppi = significant_mouse_ppi.reset_index(drop=True)
significant_mouse_ppi

                        protein1                  protein2  combined_score
0       10090.ENSMUSP00000000001  10090.ENSMUSP00000027991             889
1       10090.ENSMUSP00000000001  10090.ENSMUSP00000075170             969
2       10090.ENSMUSP00000000001  10090.ENSMUSP00000121127             916
3       10090.ENSMUSP00000000001  10090.ENSMUSP00000081569             956
4       10090.ENSMUSP00000000001  10090.ENSMUSP00000025541             760
...                          ...                       ...             ...
403715  10090.ENSMUSP00000159241  10090.ENSMUSP00000080242             899
403716  10090.ENSMUSP00000159241  10090.ENSMUSP00000124205             748
403717  10090.ENSMUSP00000159241  10090.ENSMUSP00000038137             959
403718  10090.ENSMUSP00000159241  10090.ENSMUSP00000065819             961
403719  10090.ENSMUSP00000159241  10090.ENSMUSP00000061800             810

[403720 rows x 3 columns]

In [6]:
# collect all ensemble mus
ensemble_ids = list()
for i, row in significant_mouse_ppi.iterrows():
    in_id = row[0].split(".")[1]
    out_id = row[1].split(".")[1]
    
    ensemble_ids.append(in_id)
    ensemble_ids.append(out_id)

len(list(set(ensemble_ids))), ensemble_ids[:5]

(15971,
 ['ENSMUSP00000000001',
  'ENSMUSP00000027991',
  'ENSMUSP00000000001',
  'ENSMUSP00000075170',
  'ENSMUSP00000000001'])

In [7]:
u_ensemble_ids = list(set(ensemble_ids))

In [8]:
in_prot_ids = list()
out_prot_ids = list()
in_genes = list()
out_genes = list()
in_gene_ids = list()
out_genes_ids = list()
prot_name_gene_ids = dict()


def uniprot_rest_call(prot_id):
    # UniProt REST API URL
    if prot_id not in prot_name_gene_ids:
        url = f"https://rest.uniprot.org/uniprotkb/search?query={prot_id}"
        response = requests.get(url, headers={"Content-Type": "application/json"})
        if response.ok:
            data = response.json()
        gene_name = data["results"][0]["genes"][0]["geneName"]["value"]
        gene_ref = data["results"][0]["uniProtKBCrossReferences"]
        gene_id = None
        for item in gene_ref:
            if "database" in item and item["database"] == "GeneID":
                gene_id = item["id"]
        prot_name_gene_ids[prot_id] = (gene_id, gene_name)
        return gene_id, gene_name
    else:
        return prot_name_gene_ids[prot_id][0], prot_name_gene_ids[prot_id][1]


print("Finding ids for {} ensemble ids".format(len(u_ensemble_ids)))
for idx, e_id in enumerate(u_ensemble_ids):
    try:
        uniprot_rest_call(e_id)
    except:
        continue
    if idx % 1000 == 0 and idx > 0:
        print("{} row processed".format(idx))

Finding ids for 15971 ensemble ids
1000 row processed
2000 row processed
3000 row processed
4000 row processed
5000 row processed
6000 row processed
7000 row processed
8000 row processed
9000 row processed
10000 row processed
11000 row processed
12000 row processed
13000 row processed
14000 row processed
15000 row processed

In [9]:
for i, row in significant_mouse_ppi.iterrows():
    in_prot = row["protein1"].split(".")[1]
    out_prot = row["protein2"].split(".")[1]
    try:
        in_gene_id, in_gene = prot_name_gene_ids[in_prot][0], prot_name_gene_ids[in_prot][1]
        #uniprot_rest_call(in_prot)
        out_gene_id, out_gene = prot_name_gene_ids[out_prot][0], prot_name_gene_ids[out_prot][1]
        #prot_name_gene_ids[in_prot] #uniprot_rest_call(out_prot)
        in_genes.append(in_gene)
        in_gene_ids.append(in_gene_id)
        out_genes.append(out_gene)
        out_genes_ids.append(out_gene_id)
        in_prot_ids.append(in_prot)
        out_prot_ids.append(out_prot)
    except:
        continue
    if i % 1000 == 0 and i > 0:
        print("{} row processed".format(i+1))
    
mouse_gene_interactions = pd.DataFrame(zip(in_prot_ids, in_gene_ids, in_genes, out_prot_ids, out_genes_ids, out_genes), columns=["Prot1ID", "Gene1ID", "Gene1Name", "Prot2ID", "Gene2ID", "Gene2Name"])
mouse_gene_interactions

1001 row processed
2001 row processed
3001 row processed
4001 row processed
5001 row processed
6001 row processed
7001 row processed
8001 row processed
9001 row processed
10001 row processed
11001 row processed
12001 row processed
13001 row processed
14001 row processed
15001 row processed
16001 row processed
17001 row processed
18001 row processed
19001 row processed
20001 row processed
21001 row processed
22001 row processed
23001 row processed
24001 row processed
25001 row processed
26001 row processed
27001 row processed
28001 row processed
29001 row processed
30001 row processed
31001 row processed
32001 row processed
33001 row processed
34001 row processed
35001 row processed
36001 row processed
37001 row processed
38001 row processed
39001 row processed
40001 row processed
41001 row processed
42001 row processed
43001 row processed
44001 row processed
45001 row processed
46001 row processed
47001 row processed
48001 row processed
49001 row processed
50001 row processed
51001 row processed
52001 row processed
53001 row processed
54001 row processed
55001 row processed
56001 row processed
57001 row processed
58001 row processed
59001 row processed
60001 row processed
61001 row processed
62001 row processed
63001 row processed
64001 row processed
65001 row processed
66001 row processed
67001 row processed
68001 row processed
69001 row processed
70001 row processed
71001 row processed
72001 row processed
73001 row processed
74001 row processed
75001 row processed
76001 row processed
77001 row processed
78001 row processed
79001 row processed
80001 row processed
81001 row processed
82001 row processed
83001 row processed
84001 row processed
85001 row processed
86001 row processed
87001 row processed
88001 row processed
89001 row processed
90001 row processed
91001 row processed
92001 row processed
93001 row processed
94001 row processed
95001 row processed
96001 row processed
97001 row processed
98001 row processed
99001 row processed
100001 row processed
101001 row processed
102001 row processed
103001 row processed
104001 row processed
105001 row processed
106001 row processed
107001 row processed
108001 row processed
109001 row processed
110001 row processed
111001 row processed
112001 row processed
113001 row processed
114001 row processed
115001 row processed
116001 row processed
117001 row processed
118001 row processed
119001 row processed
120001 row processed
121001 row processed
122001 row processed
123001 row processed
124001 row processed
125001 row processed
126001 row processed
127001 row processed
128001 row processed
129001 row processed
130001 row processed
131001 row processed
132001 row processed
133001 row processed
134001 row processed
135001 row processed
136001 row processed
137001 row processed
138001 row processed
139001 row processed
140001 row processed
141001 row processed
142001 row processed
143001 row processed
144001 row processed
145001 row processed
146001 row processed
147001 row processed
148001 row processed
149001 row processed
150001 row processed
151001 row processed
152001 row processed
153001 row processed
154001 row processed
155001 row processed
156001 row processed
157001 row processed
158001 row processed
159001 row processed
160001 row processed
161001 row processed
162001 row processed
163001 row processed
164001 row processed
165001 row processed
166001 row processed
167001 row processed
168001 row processed
169001 row processed
170001 row processed
171001 row processed
172001 row processed
173001 row processed
174001 row processed
175001 row processed
176001 row processed
177001 row processed
178001 row processed
179001 row processed
180001 row processed
181001 row processed
182001 row processed
183001 row processed
184001 row processed
185001 row processed
186001 row processed
187001 row processed
188001 row processed
189001 row processed
190001 row processed
191001 row processed
192001 row processed
193001 row processed
194001 row processed
195001 row processed
196001 row processed
197001 row processed
198001 row processed
199001 row processed
201001 row processed
202001 row processed
203001 row processed
204001 row processed
205001 row processed
206001 row processed
207001 row processed
208001 row processed
209001 row processed
210001 row processed
211001 row processed
212001 row processed
213001 row processed
214001 row processed
215001 row processed
216001 row processed
217001 row processed
218001 row processed
219001 row processed
221001 row processed
222001 row processed
223001 row processed
224001 row processed
225001 row processed
226001 row processed
227001 row processed
228001 row processed
229001 row processed
230001 row processed
231001 row processed
232001 row processed
233001 row processed
234001 row processed
235001 row processed
236001 row processed
237001 row processed
238001 row processed
239001 row processed
240001 row processed
241001 row processed
242001 row processed
243001 row processed
244001 row processed
245001 row processed
246001 row processed
247001 row processed
248001 row processed
249001 row processed
250001 row processed
251001 row processed
252001 row processed
253001 row processed
254001 row processed
255001 row processed
256001 row processed
257001 row processed
258001 row processed
259001 row processed
260001 row processed
261001 row processed
262001 row processed
263001 row processed
264001 row processed
265001 row processed
266001 row processed
267001 row processed
268001 row processed
269001 row processed
270001 row processed
271001 row processed
272001 row processed
273001 row processed
274001 row processed
275001 row processed
276001 row processed
277001 row processed
278001 row processed
279001 row processed
280001 row processed
281001 row processed
282001 row processed
283001 row processed
284001 row processed
285001 row processed
286001 row processed
287001 row processed
288001 row processed
289001 row processed
290001 row processed
291001 row processed
292001 row processed
293001 row processed
294001 row processed
295001 row processed
296001 row processed
297001 row processed
298001 row processed
299001 row processed
300001 row processed
301001 row processed
302001 row processed
303001 row processed
304001 row processed
305001 row processed
306001 row processed
307001 row processed
308001 row processed
309001 row processed
310001 row processed
311001 row processed
312001 row processed
314001 row processed
315001 row processed
316001 row processed
317001 row processed
318001 row processed
319001 row processed
320001 row processed
321001 row processed
322001 row processed
323001 row processed
324001 row processed
325001 row processed
326001 row processed
327001 row processed
328001 row processed
329001 row processed
330001 row processed
331001 row processed
332001 row processed
333001 row processed
334001 row processed
335001 row processed
336001 row processed
337001 row processed
338001 row processed
339001 row processed
340001 row processed
341001 row processed
342001 row processed
343001 row processed
345001 row processed
347001 row processed
348001 row processed
349001 row processed
350001 row processed
351001 row processed
352001 row processed
353001 row processed
354001 row processed
355001 row processed
356001 row processed
357001 row processed
358001 row processed
359001 row processed
360001 row processed
361001 row processed
362001 row processed
363001 row processed
364001 row processed
365001 row processed
366001 row processed
367001 row processed
369001 row processed
370001 row processed
371001 row processed
372001 row processed
373001 row processed
374001 row processed
375001 row processed
376001 row processed
377001 row processed
379001 row processed
380001 row processed
381001 row processed
382001 row processed
383001 row processed
384001 row processed
385001 row processed
386001 row processed
387001 row processed
388001 row processed
389001 row processed
390001 row processed
391001 row processed
392001 row processed
393001 row processed
394001 row processed
395001 row processed
396001 row processed
397001 row processed
398001 row processed
399001 row processed
400001 row processed
401001 row processed
402001 row processed
403001 row processed

,Prot1ID,Gene1ID,Gene1Name,Prot2ID,Gene2ID,Gene2Name
0,ENSMUSP00000000001,14679,Gnai3,ENSMUSP00000027991,19736,Rgs4
1,ENSMUSP00000000001,14679,Gnai3,ENSMUSP00000075170,13489,Drd2
2,ENSMUSP00000000001,14679,Gnai3,ENSMUSP00000121127,14696,Gnb4
3,ENSMUSP00000000001,14679,Gnai3,ENSMUSP00000081569,50780,Rgs3
4,ENSMUSP00000000001,14679,Gnai3,ENSMUSP00000025541,14682,Gnaq
...,...,...,...,...,...,...
396697,ENSMUSP00000159241,100042165,Thoc2l,ENSMUSP00000080242,56009,Alyref2
396698,ENSMUSP00000159241,100042165,Thoc2l,ENSMUSP00000124205,60532,Wtap
396699,ENSMUSP00000159241,100042165,Thoc2l,ENSMUSP00000038137,386612,Thoc6
396700,ENSMUSP00000159241,100042165,Thoc2l,ENSMUSP00000065819,66231,Thoc7
396701,ENSMUSP00000159241,100042165,Thoc2l,ENSMUSP00000061800,66511,Chtop

In [10]:
mouse_gene_interactions.to_csv("mouse_gene_interactions_STRING_v12.tsv", sep="\t", index=None)

In [11]:
import json
with open("ProteinID_Gene_Names.json", "w+") as f:
    f.write(json.dumps(prot_name_gene_ids))