In [1]:
import pandas as pd

In [2]:
df_mouse_human_gene_ids_list = pd.read_csv("df_mouse_human_gene_ids_list.tsv", sep=",")
df_mouse_human_gene_ids_list

      MouseGene HumanGene  HumanOrthologEntrezID
0        Fbxo41    FBXO41                 150726
1        Sap30l    SAP30L                  79685
2         Npy5r     NPY5R                   4889
3         Ppp5c     PPP5C                   5536
4         Mgrn1     MGRN1                  23295
...         ...       ...                    ...
15887      Bag1      BAG1                    573
15888    Slc6a5    SLC6A5                   9152
15889     Foxe1     FOXE1                   2304
15890     Krt20     KRT20                  54474
15891    Adam23    ADAM23                   8745

[15892 rows x 3 columns]

In [3]:
mouse_gene_interactions = pd.read_csv("mouse_gene_interactions_STRING_v12.tsv", sep="\t")
mouse_gene_interactions

,Prot1ID,Gene1ID,Gene1Name,Prot2ID,Gene2ID,Gene2Name
0,ENSMUSP00000000001,14679.0,Gnai3,ENSMUSP00000027991,19736.0,Rgs4
1,ENSMUSP00000000001,14679.0,Gnai3,ENSMUSP00000075170,13489.0,Drd2
2,ENSMUSP00000000001,14679.0,Gnai3,ENSMUSP00000121127,14696.0,Gnb4
3,ENSMUSP00000000001,14679.0,Gnai3,ENSMUSP00000081569,50780.0,Rgs3
4,ENSMUSP00000000001,14679.0,Gnai3,ENSMUSP00000025541,14682.0,Gnaq
...,...,...,...,...,...,...
396697,ENSMUSP00000159241,100042165.0,Thoc2l,ENSMUSP00000080242,56009.0,Alyref2
396698,ENSMUSP00000159241,100042165.0,Thoc2l,ENSMUSP00000124205,60532.0,Wtap
396699,ENSMUSP00000159241,100042165.0,Thoc2l,ENSMUSP00000038137,386612.0,Thoc6
396700,ENSMUSP00000159241,100042165.0,Thoc2l,ENSMUSP00000065819,66231.0,Thoc7
396701,ENSMUSP00000159241,100042165.0,Thoc2l,ENSMUSP00000061800,66511.0,Chtop

In [ ]:
in_gene_ID = list()
out_gene_ID = list()
in_gene_name = list()
out_gene_name = list()

for i, row in mouse_gene_interactions.iterrows():
    r_values = row.values
    gene_in = df_mouse_human_gene_ids_list[df_mouse_human_gene_ids_list["MouseGene"] == r_values[2]]
    gene_out = df_mouse_human_gene_ids_list[df_mouse_human_gene_ids_list["MouseGene"] == r_values[5]]
    
    if len(gene_in.index) > 0 and len(gene_out.index) > 0:
        in_gene_ID.append(gene_in["HumanOrthologEntrezID"].values[0])
        out_gene_ID.append(gene_out["HumanOrthologEntrezID"].values[0])
        in_gene_name.append(r_values[2])
        out_gene_name.append(r_values[5])
        
df_mouse_gene_interactions = pd.DataFrame(zip(in_gene_name, in_gene_ID, out_gene_name, out_gene_ID), \
                                          columns=["GeneInName", "GeneInID", "GeneOutName", "GeneOutID"])
df_mouse_gene_interactions

In [ ]:
df_mouse_gene_interactions.to_csv("mouse_gene_interactions_human_entrez_id.tsv", index=None)

In [ ]:
mouse_gene_expr_only_ensemble = pd.read_csv("mouse_gene_expr_only_ensemble.tsv", sep=",")
mouse_gene_expr_only_ensemble

In [ ]:
mouse_gene_expr_only_ensemble[mouse_gene_expr_only_ensemble.iloc[:, 1] == "Actr2"]

In [ ]:
df_mouse_human_gene_ids_list

In [ ]:
df_mouse_human_gene_ids_list[df_mouse_human_gene_ids_list["MouseGene"] == "Actr2"]["HumanOrthologEntrezID"].values[0]

In [ ]:
mouse_gene_ids = list()
mouse_gene_names = list()
mouse_organ_names = list()
mouse_gene_expression = list()


for i, row in mouse_gene_expr_only_ensemble.iterrows():
    r_values = row.values
    matched_gene = df_mouse_human_gene_ids_list[df_mouse_human_gene_ids_list["MouseGene"] == r_values[1]]
    if len(matched_gene.index) > 0:
        mouse_gene_ids.append(matched_gene["HumanOrthologEntrezID"].values[0])
        mouse_gene_names.append(r_values[1])
        mouse_organ_names.append(r_values[3])
        mouse_gene_expression.append(r_values[4])
    if i % 500000 == 0 and i > 0:
        print("{} rows processed".format(i))
        
df_mouse_gene_expression_human_entrez_ids = pd.DataFrame(zip(mouse_gene_names, mouse_gene_ids, mouse_organ_names, mouse_gene_expression), \
                                                        columns=["GeneName", "GeneId", "OrganName", "Expression"])
df_mouse_gene_expression_human_entrez_ids

In [ ]:
#df_mouse_human_gene_ids_list[df_mouse_human_gene_ids_list["MouseGene"] == "Klf6"]
df_mouse_gene_expression_human_entrez_ids = df_mouse_gene_expression_human_entrez_ids.sort_values(by=["GeneId"])
df_mouse_gene_expression_human_entrez_ids.to_csv("mouse_gene_expression_human_entrez_ids.tsv", index=None)