In [5]:
import pandas as pd

In [6]:
all_diseases = pd.read_csv("all_diseases.tsv", sep="\t", header=None)
all_diseases

                                           0            1
0       AARSKOG SYNDROME, AUTOSOMAL DOMINANT  OMIM:100050
1     AORTIC ANEURYSM, FAMILIAL ABDOMINAL, 1  OMIM:100070
2                       PRUNE BELLY SYNDROME  OMIM:100100
3                             ABDUCENS PALSY  OMIM:100200
4                    ADAMS-OLIVER SYNDROME 1  OMIM:100300
...                                      ...          ...
8822                                     NaN  OMIM:618367
8823                                     NaN  OMIM:618369
8824                                     NaN  OMIM:618371
8825                                     NaN  OMIM:618372
8826                                     NaN  OMIM:618374

[8827 rows x 2 columns]

In [7]:
gene_diseases = pd.read_csv("genes_diseases.tsv", sep="\t", header=None)
gene_diseases

            0            1
0        3119  OMIM:612595
1        3265  OMIM:218040
2        9992  OMIM:608988
3       84570  OMIM:609384
4        6638  OMIM:615091
...       ...          ...
11760    9439  OMIM:614346
11761   10000  OMIM:615937
11762    1630  OMIM:617542
11763    1316  OMIM:608658
11764  388753  OMIM:616501

[11765 rows x 2 columns]

In [8]:
gene2diseases_zebrafish = pd.read_csv("gene2DiseaseViaOrthology_2024.04.03.tsv", sep="\t")
gene2diseases_zebrafish

,ZINF_ID,ZINF_Symbol,Human_Ortholog_Entrez_Gene_Id,Human_Ortholog_Symbol,DO_Term_Name,DO_Term_ID,OMIM_Term_Name,OMIM_ID,Evidence_Code,Publication_ZDB_ID
0,ZDB-GENE-030912-4,aaas,8086,AAAS,triple-A syndrome,DOID:0050602,Achalasia-addisonianism-alacrimia syndrome,231550.0,ECO:0000266,ZDB-PUB-170210-12
1,ZDB-GENE-040718-120,aagab,79719,AAGAB,punctate palmoplantar keratoderma type I,DOID:0080214,"Keratoderma, palmoplantar, punctate type IA",148600.0,ECO:0000266,ZDB-PUB-170210-12
2,ZDB-GENE-030131-3663,aars1,16,AARS1,NaN,NaN,"?Leukoencephalopathy, hereditary diffuse, with...",619661.0,ECO:0000266,ZDB-PUB-170210-12
3,ZDB-GENE-030131-3663,aars1,16,AARS1,NaN,NaN,"Trichothiodystrophy 8, nonphotosensitive",619691.0,ECO:0000266,ZDB-PUB-170210-12
4,ZDB-GENE-030131-3663,aars1,16,AARS1,Charcot-Marie-Tooth disease axonal type 2N,DOID:0110177,"Charcot-Marie-Tooth disease, axonal, type 2N",613287.0,ECO:0000266,ZDB-PUB-170210-12
...,...,...,...,...,...,...,...,...,...,...
8864,ZDB-GENE-040426-2110,zpr1,8882,ZPR1,NaN,NaN,"?Growth restriction, hypoplastic kidneys, alop...",619321.0,ECO:0000266,ZDB-PUB-170210-12
8865,ZDB-GENE-060602-4,zswim6,57688,ZSWIM6,NaN,NaN,Neurodevelopmental disorder with movement abno...,617865.0,ECO:0000266,ZDB-PUB-170210-12
8866,ZDB-GENE-060602-4,zswim6,57688,ZSWIM6,acromelic frontonasal dysostosis,DOID:0060342,Acromelic frontonasal dysostosis,603671.0,ECO:0000266,ZDB-PUB-170210-12
8867,ZDB-GENE-030131-4255,zswim7,125150,ZSWIM7,NaN,NaN,?Ovarian dysgenesis 10,619834.0,ECO:0000266,ZDB-PUB-170210-12
8868,ZDB-GENE-030131-4255,zswim7,125150,ZSWIM7,NaN,NaN,Spermatogenic failure 71,619831.0,ECO:0000266,ZDB-PUB-170210-12

In [9]:
zebrafish_human_gene_ids = list(set(gene2diseases_zebrafish["Human_Ortholog_Entrez_Gene_Id"].tolist()))
len(zebrafish_human_gene_ids)

4410

In [10]:
human_genes = list(set(gene_diseases.loc[:, 0].tolist()))
len(human_genes)

4061

In [11]:
gene_ids_not_present = list(set(zebrafish_human_gene_ids).difference(set(human_genes)))
len(gene_ids_not_present)

878

In [12]:
all_disease_names = all_diseases.loc[:, 1].tolist()
all_disease_OMIM = list(set([int(item.split(":")[1]) for item in all_disease_names]))
len(all_disease_OMIM), all_disease_names[:5], all_disease_OMIM[:5]

(8827,
 ['OMIM:100050', 'OMIM:100070', 'OMIM:100100', 'OMIM:100200', 'OMIM:100300'],
 [163850, 229400, 131100, 262190, 163950])

In [13]:
import numpy as np
zebrafish_OMIM_ID = list(set(gene2diseases_zebrafish["OMIM_ID"].tolist()))
zebrafish_OMIM_ID = [int(item) for item in zebrafish_OMIM_ID if item > 0]
len(zebrafish_OMIM_ID), zebrafish_OMIM_ID[:5]

(6013, [131100, 262190, 163950, 262300, 229600])

In [14]:
disease_ids_not_present = list(set(zebrafish_OMIM_ID).difference(set(all_disease_OMIM)))
len(disease_ids_not_present), disease_ids_not_present[:5]

(1155, [301056, 618496, 301058, 618497, 301060])

In [15]:
gene2diseases_zebrafish_filtered = gene2diseases_zebrafish[~gene2diseases_zebrafish["Human_Ortholog_Entrez_Gene_Id"].isin(gene_ids_not_present)]
gene2diseases_zebrafish_filtered

,ZINF_ID,ZINF_Symbol,Human_Ortholog_Entrez_Gene_Id,Human_Ortholog_Symbol,DO_Term_Name,DO_Term_ID,OMIM_Term_Name,OMIM_ID,Evidence_Code,Publication_ZDB_ID
0,ZDB-GENE-030912-4,aaas,8086,AAAS,triple-A syndrome,DOID:0050602,Achalasia-addisonianism-alacrimia syndrome,231550.0,ECO:0000266,ZDB-PUB-170210-12
1,ZDB-GENE-040718-120,aagab,79719,AAGAB,punctate palmoplantar keratoderma type I,DOID:0080214,"Keratoderma, palmoplantar, punctate type IA",148600.0,ECO:0000266,ZDB-PUB-170210-12
2,ZDB-GENE-030131-3663,aars1,16,AARS1,NaN,NaN,"?Leukoencephalopathy, hereditary diffuse, with...",619661.0,ECO:0000266,ZDB-PUB-170210-12
3,ZDB-GENE-030131-3663,aars1,16,AARS1,NaN,NaN,"Trichothiodystrophy 8, nonphotosensitive",619691.0,ECO:0000266,ZDB-PUB-170210-12
4,ZDB-GENE-030131-3663,aars1,16,AARS1,Charcot-Marie-Tooth disease axonal type 2N,DOID:0110177,"Charcot-Marie-Tooth disease, axonal, type 2N",613287.0,ECO:0000266,ZDB-PUB-170210-12
...,...,...,...,...,...,...,...,...,...,...
8860,ZDB-GENE-081107-49,znf711,7552,ZNF711,non-syndromic X-linked intellectual disability 97,DOID:0112046,"Intellectual developmental disorder, X-linked 97",300803.0,ECO:0000266,ZDB-PUB-170210-12
8861,ZDB-GENE-050417-313,znf750,79755,ZNF750,NaN,NaN,?Seborrhea-like dermatitis with psoriasiform e...,610227.0,ECO:0000266,ZDB-PUB-170210-12
8863,ZDB-GENE-040426-1114,znhit3,9326,ZNHIT3,PEHO syndrome,DOID:0080539,PEHO syndrome,260565.0,ECO:0000266,ZDB-PUB-170210-12
8865,ZDB-GENE-060602-4,zswim6,57688,ZSWIM6,NaN,NaN,Neurodevelopmental disorder with movement abno...,617865.0,ECO:0000266,ZDB-PUB-170210-12
8866,ZDB-GENE-060602-4,zswim6,57688,ZSWIM6,acromelic frontonasal dysostosis,DOID:0060342,Acromelic frontonasal dysostosis,603671.0,ECO:0000266,ZDB-PUB-170210-12

In [16]:
gene2diseases_zebrafish_filtered["OMIM_ID"] = gene2diseases_zebrafish_filtered["OMIM_ID"].fillna(-1)
gene2diseases_zebrafish_filtered["OMIM_ID"] = gene2diseases_zebrafish_filtered["OMIM_ID"].astype(int)
gene2diseases_zebrafish_filtered

/tmp/ipykernel_55426/3698198136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gene2diseases_zebrafish_filtered["OMIM_ID"] = gene2diseases_zebrafish_filtered["OMIM_ID"].fillna(-1)
/tmp/ipykernel_55426/3698198136.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gene2diseases_zebrafish_filtered["OMIM_ID"] = gene2diseases_zebrafish_filtered["OMIM_ID"].astype(int)

,ZINF_ID,ZINF_Symbol,Human_Ortholog_Entrez_Gene_Id,Human_Ortholog_Symbol,DO_Term_Name,DO_Term_ID,OMIM_Term_Name,OMIM_ID,Evidence_Code,Publication_ZDB_ID
0,ZDB-GENE-030912-4,aaas,8086,AAAS,triple-A syndrome,DOID:0050602,Achalasia-addisonianism-alacrimia syndrome,231550,ECO:0000266,ZDB-PUB-170210-12
1,ZDB-GENE-040718-120,aagab,79719,AAGAB,punctate palmoplantar keratoderma type I,DOID:0080214,"Keratoderma, palmoplantar, punctate type IA",148600,ECO:0000266,ZDB-PUB-170210-12
2,ZDB-GENE-030131-3663,aars1,16,AARS1,NaN,NaN,"?Leukoencephalopathy, hereditary diffuse, with...",619661,ECO:0000266,ZDB-PUB-170210-12
3,ZDB-GENE-030131-3663,aars1,16,AARS1,NaN,NaN,"Trichothiodystrophy 8, nonphotosensitive",619691,ECO:0000266,ZDB-PUB-170210-12
4,ZDB-GENE-030131-3663,aars1,16,AARS1,Charcot-Marie-Tooth disease axonal type 2N,DOID:0110177,"Charcot-Marie-Tooth disease, axonal, type 2N",613287,ECO:0000266,ZDB-PUB-170210-12
...,...,...,...,...,...,...,...,...,...,...
8860,ZDB-GENE-081107-49,znf711,7552,ZNF711,non-syndromic X-linked intellectual disability 97,DOID:0112046,"Intellectual developmental disorder, X-linked 97",300803,ECO:0000266,ZDB-PUB-170210-12
8861,ZDB-GENE-050417-313,znf750,79755,ZNF750,NaN,NaN,?Seborrhea-like dermatitis with psoriasiform e...,610227,ECO:0000266,ZDB-PUB-170210-12
8863,ZDB-GENE-040426-1114,znhit3,9326,ZNHIT3,PEHO syndrome,DOID:0080539,PEHO syndrome,260565,ECO:0000266,ZDB-PUB-170210-12
8865,ZDB-GENE-060602-4,zswim6,57688,ZSWIM6,NaN,NaN,Neurodevelopmental disorder with movement abno...,617865,ECO:0000266,ZDB-PUB-170210-12
8866,ZDB-GENE-060602-4,zswim6,57688,ZSWIM6,acromelic frontonasal dysostosis,DOID:0060342,Acromelic frontonasal dysostosis,603671,ECO:0000266,ZDB-PUB-170210-12

In [17]:
gene2diseases_zebrafish_genes_OMIMs = gene2diseases_zebrafish_filtered[["Human_Ortholog_Entrez_Gene_Id", "OMIM_ID"]]
gene2diseases_zebrafish_genes_OMIMs

      Human_Ortholog_Entrez_Gene_Id  OMIM_ID
0                              8086   231550
1                             79719   148600
2                                16   619661
3                                16   619691
4                                16   613287
...                             ...      ...
8860                           7552   300803
8861                          79755   610227
8863                           9326   260565
8865                          57688   617865
8866                          57688   603671

[7650 rows x 2 columns]

In [18]:
gene2diseases_zebrafish_genes_OMIMs["OMIM_ID"] =  'OMIM:' + gene2diseases_zebrafish_genes_OMIMs['OMIM_ID'].astype(str)
gene2diseases_zebrafish_genes_OMIMs

/tmp/ipykernel_55426/2566208865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gene2diseases_zebrafish_genes_OMIMs["OMIM_ID"] =  'OMIM:' + gene2diseases_zebrafish_genes_OMIMs['OMIM_ID'].astype(str)

      Human_Ortholog_Entrez_Gene_Id      OMIM_ID
0                              8086  OMIM:231550
1                             79719  OMIM:148600
2                                16  OMIM:619661
3                                16  OMIM:619691
4                                16  OMIM:613287
...                             ...          ...
8860                           7552  OMIM:300803
8861                          79755  OMIM:610227
8863                           9326  OMIM:260565
8865                          57688  OMIM:617865
8866                          57688  OMIM:603671

[7650 rows x 2 columns]

In [19]:
gene2diseases_zebrafish_genes_OMIMs.columns = range(gene2diseases_zebrafish_genes_OMIMs.shape[1])
gene2diseases_zebrafish_genes_OMIMs
#gene2diseases_zebrafish_genes_OMIMs_nh.to_csv("gene2diseases_zebrafish_genes_OMIMs.tsv", index=None)

          0            1
0      8086  OMIM:231550
1     79719  OMIM:148600
2        16  OMIM:619661
3        16  OMIM:619691
4        16  OMIM:613287
...     ...          ...
8860   7552  OMIM:300803
8861  79755  OMIM:610227
8863   9326  OMIM:260565
8865  57688  OMIM:617865
8866  57688  OMIM:603671

[7650 rows x 2 columns]

In [20]:
unique_gene2diseases_zebrafish_genes_OMIMs = gene2diseases_zebrafish_genes_OMIMs.drop_duplicates()
unique_gene2diseases_zebrafish_genes_OMIMs

          0            1
0      8086  OMIM:231550
1     79719  OMIM:148600
2        16  OMIM:619661
3        16  OMIM:619691
4        16  OMIM:613287
...     ...          ...
8860   7552  OMIM:300803
8861  79755  OMIM:610227
8863   9326  OMIM:260565
8865  57688  OMIM:617865
8866  57688  OMIM:603671

[5612 rows x 2 columns]

In [21]:
unique_gene_diseases = gene_diseases.drop_duplicates()
unique_gene_diseases

            0            1
0        3119  OMIM:612595
1        3265  OMIM:218040
2        9992  OMIM:608988
3       84570  OMIM:609384
4        6638  OMIM:615091
...       ...          ...
11760    9439  OMIM:614346
11761   10000  OMIM:615937
11762    1630  OMIM:617542
11763    1316  OMIM:608658
11764  388753  OMIM:616501

[11765 rows x 2 columns]

In [22]:
concat_pd = pd.concat([unique_gene2diseases_zebrafish_genes_OMIMs, gene_diseases], ignore_index=True, axis=0)
concat_pd

            0            1
0        8086  OMIM:231550
1       79719  OMIM:148600
2          16  OMIM:619661
3          16  OMIM:619691
4          16  OMIM:613287
...       ...          ...
17372    9439  OMIM:614346
17373   10000  OMIM:615937
17374    1630  OMIM:617542
17375    1316  OMIM:608658
17376  388753  OMIM:616501

[17377 rows x 2 columns]

In [23]:
concat_pd.to_csv("human_zebrafish_genes_diseases.tsv", index=None, sep="\t")

In [24]:
unique_concat_pd = concat_pd.drop_duplicates()
unique_concat_pd

           0            1
0       8086  OMIM:231550
1      79719  OMIM:148600
2         16  OMIM:619661
3         16  OMIM:619691
4         16  OMIM:613287
...      ...          ...
17367   9570  OMIM:310370
17370   4909  OMIM:608695
17371   3350  OMIM:614317
17372   9439  OMIM:614346
17375   1316  OMIM:608658

[12285 rows x 2 columns]

In [25]:
unique_concat_pd.to_csv("unique_human_zebrafish_genes_diseases.tsv", index=None, sep="\t")